/* @font-face { */
  /* font-family: "Lexend";
  src: url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');
    
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  /* text-transform: uppercase; */
  overflow: hidden;
}
/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to right, rgb(72, 99, 112), rgb(145, 183, 210));
  color: #eee;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 20px rgba(209, 206, 204, 0.8),
    0 0 25px rgba(44, 83, 100, 0.8);
  z-index: 100;
  background-size: 150% 120%;
  animation: gradient 3s ease infinite;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
  letter-spacing: 0.1em;
}

.header a {
  text-decoration: none;
  color: #eee;
  position: absolute;
  right: 50px;
  transition: color 0.3s;
}

.header a:hover {
  color: #ccd3de;
}

.main-title {
  text-transform: uppercase;
}

/* MAP  */
.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.google-map {
  position: relative;
}


/* LOADER  */
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.loader h1 {
  margin-top: 100px;
}
/* LOCATION INFO BOX */
.location-info {
  position: absolute;
  top: 30vh;
  left: calc(50vw - 150px);
  width: 300px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(
    to right,
    rgba(86, 130, 138, 0.8),
    rgba(157, 220, 226, 0.8)
  );
  box-shadow: 0 0 10px rgba(206, 201, 198, 0.8),
    0 0 12.5px rgba(44, 83, 100, 0.8);
  border-radius: 10px;
  color: #fff;
  z-index: 10;
  background-size: 150% 150%;
  animation: gradient 3s ease infinite;
  letter-spacing: 0.1em;
}

.location-info h2 {
  justify-content: center;
  align-items: center;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

.location-info span {
  color: #e8eff3;
}

.location-info a {
  display: flex;
  text-decoration: none;
  color: #e8eff3;
  cursor: pointer;
  border: 2px solid #e8eff3;
  margin: 0 auto;
  transition: all 0.3s ease-in; 
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 32px;
  font-size: 16px;
}

.location-info a:hover {
  color: #dcf8a2;
  border-color: #dcf8a2;
}

.location-info .close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #e8eff3;
  transition: all 0.3s ease-in;
}

.location-info .close-icon:hover {
  color:#e8eff3;
}

/* LOCATION HOVER INFO */
.location-hover-info {
  position: absolute;
  bottom: 0px;
  left: -40px;
  margin: 0;
  min-height: 50px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(66, 96, 106, 0.8),
    rgba(165, 217, 221, 0.8)
  );
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: none;
}

.location-marker:hover .location-hover-info {
  display: block;
}

.location-hover-info h4 {
  margin: 5px;
  display: block;
}

.location-hover-info h5 {
  margin: 5px;
  display: block;
}

/* SELECTOR */
.selector {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to right, rgb(79, 113, 123), rgb(153, 207, 214));
  color: #eee;
  position: fixed;
  top: 75px;
  left: 10px;
  box-shadow: 0 0 10px rgba(158, 210, 222, 0.8),
    0 0 12.5px rgba(44, 83, 100, 0.8);
  z-index: 50;
  border-radius: 10px;
  background-size: 150% 150%;
  animation: gradient 3s ease infinite;
  letter-spacing: 0.1em;
}

.selector.minimize {
  height: 50px;
  width: 220px;
  overflow: hidden;
}

.disaster-button {
  font-family: inherit;
  background-color: transparent;
  color: #e8eff3;
  cursor: pointer;
  width: 250px;
  height: 32px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #e8eff3;
  margin: 10px 10px 0;
  position: relative;
  transition: color 0.3s, border-color 0.3s;
  letter-spacing: 0.1em;
}

.disaster-button:hover {
  color: #d8f7b4;
  border-color: #d8f7b4;
}

.disaster-button:focus {
  outline: none;
  color: #d8f7b4;
  border-color: #d8f7b4;
}

.disaster-button span {
  position: absolute;
  right: 3px;
  top: 2px;
}


/* **********************IF NO ICONS *************************** */
/* .disaster-button span {
  position: absolute;
  right: 3px;
  top: 20px;
} */

.minimize-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.disasters {
  display: flex;
  justify-content: flex-start;
}

.disaster-input {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  align-items: center;
  padding: 10px;
  color: #eee;
}

.disaster-label {
  text-align: start;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  background: linear-gradient(to right, rgb(48, 79, 120), rgb(122, 171, 156));
  color: #eee;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(190, 210, 222, 0.8),
    0 0 12.5px rgba(44, 83, 100, 0.8);
  z-index: 100;
  background-size: 150% 120%;
  animation: gradient 3s ease infinite;
  letter-spacing: 0.1em;
}

.footer a {
  text-decoration: none;
  color: rgb(210, 210, 179);
  transition: color 0.3s;
}

.footer a:hover {
  color: #a0adc1;
}

/* ICONS */

.location-icon {
  font-size: 1.5rem;
  cursor: pointer;
  /* transform: translate(-50%, -50%); */
}

/* **********************IF NO ICONS *************************** */

.location-icon.drought {
  color: tan;
}
.location-icon.dust {
  color: slategray;
}
.location-icon.fire {
  color: crimson;
}
.location-icon.flood {
  color: midnightblue;
}
.location-icon.storm {
  color: rgb(36, 33, 48);
}
.location-icon.volcano {
  color: maroon;
}
.location-icon.water-color {
  color: teal;
}
.location-icon.earthquake {
  color: black;
}
.location-icon.snow {
  color: cornflowerblue;
}
.location-icon.temperature {
  color: orangered;
}
.location-icon.other {
  color: black;
}
.location-icon:hover {
  color: #222;
  filter: brightness(2);
}

.filter {
  text-transform: uppercase;
}

/* ANIMATIONS */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* MEDIA QUERIES */
/* 600PX */
@media (max-width: 600px) {
  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .header h1{
    text-align: none;
  }
  .header a {
    position: static;
  }
}
/* 500PX */
@media (max-width: 500px) {
  .location-info {
    left: calc(50vw - 100px);
    width: 200px;
  }
  .location-info h2 {
    font-size: 20px;
  }
  .location-info a {
    width: 150px;
  }
}

.link-more {
  text-transform: uppercase;
}